element style {

}

h1 {
    font-weight: 300;
    font-size: 2rem;
}

h1, h2, section {
    font-family: 'raleway', sans-serif;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

hr {
    border: none;
  height: 1px;
  background-color: #000000;
  margin: 50px 0;  
}

